<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
	$('#btn').click(function(){
			$('#myform').submit();
	});
});
</script>
 <style>

#aside{
 		width: 200px;
        height: 3500px;
        position: fixed;
        background:  #04B4AE;
        overflow: hidden;
        float: left;
        color: white;

          
}
</style>  
</head>
<body>
<div id="aside" th:include="/include/menu::sidemenu"></div>
<div class="container">
<h1 align="center">게시판 상세정보</h1>
<!-- 게시판 상세정보 테이블 -->
<table class="table">
		<tr>	
			<td>번호</td>
			<td th:text="${board.boardNo}"></td>
		</tr>
		<tr>	
			<td>제목</td>
			<td th:text="${board.boardTitle}"></td>
		</tr>
		<tr>	
			<td>회원아이디</td>
			<td th:text="${board.memberId}"></td>
		</tr>
		<tr>
			<td>시간데이터</td>
			<td th:text="${board.boardDate}"></td>
		</tr>
		<tr>
			<td>내용</td>
			<td th:text="${board.boardContent}"></td>
		</tr>	
		</table>
		<br>
			<div class="btn-group">
			<a th:href="@{/boardList}" class="btn btn-primary" role="button">목록</a>
			<a th:href="@{/modifyBoard(boardNo=${board.boardNo})}" th:if="${session.loginMember.memberId == board.memberId || session.loginMember.memberLevel ==0}"class="btn btn-primary" role="button">수정</a>
			<a th:href="@{/removeBoard(boardNo=${board.boardNo})}" th:if="${session.loginMember.memberLevel==0}" class="btn btn-primary" role="button">삭제</a>
			</div>
			<br>
	<!-- 댓글 입력 -->
	<form id="myform" method="post" action="/addComment">
		<input type="hidden" th:value="${session.loginMember.memberId}" name="memberId">
		<input type="hidden" th:value="${board.boardNo}"name="boardNo">
		<input type="text" name="commentContent"><button  id="btn" type="button">입력</button>
	</form>
	<br>
	<!-- 댓글 테이블 -->
	<table border="1">
		<tr th:each="comment : ${commentList}" >
			<td th:text="${comment.memberId}"></td>
			<td th:text="${comment.commentContent}"></td>
			<td th:text="${comment.commentDate}"></td>
			<td  th:if="${session.loginMember.memberId == board.memberId || session.loginMember.memberLevel ==0}"><a th:href="@{/modifyComment(commentNo=${comment.commentNo})}"class="btn btn-primary" role="button">수정</a></td>
			<td  th:if="${session.loginMember.memberId == board.memberId || session.loginMember.memberLevel ==0}"><a th:href="@{/removeComment(commentNo=${comment.commentNo})}" class="btn btn-primary" role="button">삭제</a></td>
		</tr>
	</table>
</div>	
</body>
</html>