<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style>

#aside{
 		width: 200px;
        height: 3500px;
        position: fixed;
        background: #04B4AE;
        overflow: hidden;
        float: left;
        color: white;

          
}
</style>  
</head>
<body>
	<div id="aside" th:include="/include/menu::sidemenu"></div>	
	<div th:if="${session.loginMember.memberLevel!=0}">
		<h1 align="center">가계부를 이용해 손쉽게 돈을 관리해보세요</h1>
	</div>
	<div th:if="${session.loginMember.memberLevel==0}">
	<h2 align="center">가계부(관리자 모드)</h2>
	</div>		
</body>
</html>