<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
let helperInit = function(){
	$('#msgHelper').text("");
	
};
//다 준비가 되었고 로그인 버튼을 눌렸을 경우 
$(document).ready(function(){
	$('#btn').click(function(){
		if($('#memberId').val().length==0){//아이디가 빈값을 경우
			helperInit();
			$('#msgHelper').text("아이디를 입력하지 않았습니다.");
			return;
			
		}else if($('#memberPw').val().length==0){//비밀번호가 빈값을 경우
			helperInit();
			$('#msgHelper').text("비밀번호를 확인해주세요.");
			return;
			
		}else if($('#memberId').val().length<4){//아이디가 길이가 맞지 않을 경우
			helperInit();
			$('#msgHelper').text("아이디가 맞지 않습니다.");
			return;
		}else if($('#memberPw').val().length<4){//비밀번호가 길이가 맞이 않을 경우
			helperInit();
			$('#msgHelper').text("비밀번호가 맞지 않습니다.");
			return;
		}
		//모든 조건이 충족되었을때 실행
		$('#loginForm').submit();

	});
});
</script>  
</head>
<body>
<!-- 로그인 폼 -->
	<div class="container">
	<h1>로그인</h1>
	<form id="loginForm" class="form-inline" method="post" action="/login">
			<label class="mb-2 mr-sm-2">member_id:</label>
			<input type="text"  class="form-control mb-2 mr-sm-2" id="memberId" name="memberId" >
		
			<label class="mb-2 mr-sm-2">member_pw:</label>
			<input type="password" class="form-control mb-2 mr-sm-2" id="memberPw" name="memberPw">
			<div>
				<span id="msgHelper" th:text="${msg}"></span>
			</div>
			<div>
				<a href="">아이디가 기억나지 않아요</a>
				<a href="">비밀번호가 기억나지 않아요</a>
			</div>
		<button type="button" id="btn" class="btn btn-outline-primary">로그인</button>
	</form>
	</div>
</body>
</html>