<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cashbook.mapper.CashMapper">
	<!-- 달 총 합계 -->
	<select id="selectmonthSum" parameterType="HashMap" resultType="Integer">
		SELECT
			Sum(CASE WHEN cash_kind='수입' Then cash_price WHEN cash_kind='지출' then -cash_price End)
		FROM cash
		WHERE member_id=#{memberId}
		AND YEAR(cash_date) =#{year}
		AND MONTH(cash_date) = #{month}
	</select>
	<!-- 월별 총 합계  -->
	<select id="monthtotal" parameterType="HashMap" resultType="Integer">
		SELECT
			Sum(CASE WHEN cash_kind='수입' Then cash_price WHEN cash_kind='지출' then -cash_price End)
		FROM cash
		WHERE member_id=#{memberId}
		AND YEAR(cash_date) = Year(#{day})
		GROUP BY Year(cash_date)=Year(#{day})
	</select>
	<!-- 년도 월별 비교하기 -->
	<select id="selectYearList" parameterType="HashMap" resultType="com.gdu.cashbook.vo.dayAndMonthAndYearAndPrice">
		select
		 MONTH(cash_date) MONTH,
		Sum(CASE WHEN cash_kind='수입' Then cash_price WHEN cash_kind='지출' then -cash_price End) as price
		From cash 
		WHERE member_id=#{memberId}
		AND YEAR(cash_date)=YEAR(#{day})
		AND MONTH(cash_date)
		GROUP BY MONTH(cash_date)
	</select>
	<!--cash 정보 가져오기 -->
	<select id ="selectCash" parameterType="int"  resultType="com.gdu.cashbook.vo.Cash">
		SELECT
			cash_no as cashNo,
			member_id as memberId,
			cash_date as cashDate,
			cash_kind as cashKind,
			category_name as categoryName,
			cash_price as cashPrice,
			cash_place as cashPlace,
			cash_memo as cashMemo
		FROM cash
		WHERE cash_no=#{cashNo}
	</select>
	<!-- 수출/수입 입력 -->
	<insert id="insertCash" parameterType="com.gdu.cashbook.vo.Cash">
		 INSERT INTO cash(
            member_id,
            cash_date,
            cash_kind,
            category_name,
            cash_price,
            cash_place,
            cash_memo
        ) VALUES (
            #{memberId},
            #{cashDate},
            #{cashKind},
            #{categoryName},
            #{cashPrice},
            #{cashPlace},
            #{cashMemo}
        )
	</insert>
	<!--년도와 몇달 일별 출력 -->
	<select id="selectDayAndPirceList" parameterType="java.util.Map" resultType="com.gdu.cashbook.vo.dayAndMonthAndYearAndPrice">
		SELECT 
			DAY(cash_date)as day,
			Sum(CASE WHEN cash_kind='수입' Then cash_price WHEN cash_kind='지출' then -cash_price End) as price
		From cash 
		WHERE YEAR(cash_date)=#{year}
		AND MONTH(cash_date)=#{month}
		AND member_id=#{memberId}
		GROUP BY DAY(cash_date)
	</select>
	<!-- 총 합계 -->
	<select id="selectCashKindSum"  parameterType="com.gdu.cashbook.vo.Cash" resultType="int">
		SELECT 
		(SELECT IFNULL (SUM(cash_price),0)
		From cash
		Where member_id=#{memberId}
		AND cash_date=#{cashDate}
		AND cash_kind='수입')
		-
		(SELECT IFNULL (SUM(cash_price),0)
		From cash
		Where member_id=#{memberId}
		AND cash_date=#{cashDate}
		AND cash_kind='지출')
		FROM dual
	</select>
	<!-- 가계부 리스트 출력 -->
	<select id="selectCashListByDate" parameterType="com.gdu.cashbook.vo.Cash" resultType="com.gdu.cashbook.vo.Cash">
		SELECT
			cash_no as cashNo,
			cash_kind as cashKind,
			category_name as categoryName,
			cash_price as cashPrice,
			cash_place as cashPlace,
			cash_memo as cashMemo
		FROM cash
		WHERE member_id=#{memberId}
		AND cash_date =#{cashDate}
		ORDER BY cash_no ASC
	</select>
	<!-- 가계부 수정 -->
	<update id="updateCash" parameterType="com.gdu.cashbook.vo.Cash">
		UPDATE cash
		SET
			cash_kind =#{cashKind},
			category_name =#{categoryName},
			cash_price=#{cashPrice},
			cash_place =#{cashPlace},
			cash_memo =#{cashMemo}
		WHERE cash_no=#{cashNo}	
	</update>
	<!-- 가계부 삭제 -->
	<delete id="deleteCash" parameterType="int">
		DELETE
		FROM cash
		WHERE cash_no=#{cashNo}
	</delete>
</mapper>